<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/caltheme.css">
    <!--[if IE 6]><![endif]-->
</head>

<body ng-app="app1" ng-controller="calc" style=" background: {{c}}">
    <div class="{{colors}}">
        <div class="container">
            <div class="box" ng-model="a" value="{{ans}}">{{ans}} </div>
            <!-- <h1>Ans: <span>{{ans}}</span></h1> 
         ng-model="C" ng-init="c=5-->
            <div class="row">
                <div class="col"> <br>
                    <div class="{{colorinput}}">
                        <input type=button class="input" value="C" ng-click="C('')">
                        <input type=button class="input" value="X" ng-bind="a" ng-click="X('')">
                        <input type=button class="input" value="%" ng-bind="a" ng-click="math('%')">
                        <input type=button class="input" value="/" ng-bind="a" ng-click="math('/')">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="{{colorinput}}">
                        <input type=button class="input" value="7" ng-click="math('7')">
                        <input type=button class="input" value="8" ng-click="math('8')">
                        <input type=button class="input" value="9" ng-click="math('9')">
                        <input type=button class="input" value="*" ng-click="math('*')">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="{{colorinput}}">
                        <input type=button class="input" value="4" ng-click="math('4')">
                        <input type=button class="input" value="5" ng-click="math('5')">
                        <input type=button class="input" value="6" ng-click="math('6')">
                        <input type=button class="input" value="-" ng-click="math('-')">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="{{colorinput}}">
                        <input type=button class="input" value="1" ng-click="math('1')">
                        <input type=button class="input" value="2" ng-click="math('2')">
                        <input type=button class="input" value="3" ng-click="math('3')">
                        <input type=button class="input" value="+" ng-click="math('+')">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="{{colorinput}}">
                        <input type=button class="input" value="😊" ng-click="C('😊')">
                        <input type=button class="input" value="0" ng-click="math('0')">
                        <input type=button class="input" value="." ng-click="math('.')">
                        <input type=button class="input" value="=" ng-click="e('=')">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="{{colors}}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="{{colorinput}}" style="display: flex;
                    justify-content: center;
                    align-items: center;">
                        <!-- <input type=button class="input" value="<"> -->
                        <input type=button class="input" style="width: fit-content; margin: 5px 10px; padding: 0 20px;"
                            value="black" ng-click="b('#2e2e2e')">
                        <input type=button class="input" style="width: fit-content; margin: 5px 10px; padding: 0 20px;"
                            value="white" ng-click="w('#e0e0e0;')">
                        <!-- <input type=color ng-click="color('green')"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var x = angular.module("app1", []);
        x.controller("calc", function ($scope) {
            $scope.c = '#2e2e2e';
            $scope.colors = 'color1';
            $scope.colorinput = 'colorinput1';
            $scope.ans = "";

            $scope.math = function (value) {
                $scope.ans += value;
            };
            $scope.C = function (value) {
                // $scope.ans = value;
                $scope.ans = "";
            };
            $scope.X = function (value) {
                $scope.ans -= value;
            };
            $scope.e = function (value) {
                $scope.ans = eval($scope.ans);
            };

            $scope.b = function (value) {
                $scope.c = value;
                $scope.colors = 'color1';
                $scope.colorinput = 'colorinput1';
            };

            $scope.w = function (value) {
                $scope.c = value;
                $scope.colors = 'color2';
                $scope.colorinput = 'colorinput2';
            };
        });
    </script>
</body>

</html>
